*{
    box-sizing: border-box;
}
body{
    background: #000;
}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 250px;
    min-height: 100%;
    border-right: 5px solid greenyellow;
    float: left;
    z-index: 2;
}
.bottom{
    position: absolute;
    bottom: 3%;
    width: 250px;
    text-align: left;
    padding-left: 30px;
}
.textes p{
    font-size: 12px;
}
.ul2{
    padding-left: 0;
}
.logo{
    width: 63px;
    margin-bottom: 60px;
    position: absolute;
    top: 4%;
    left: 37px;
}
.ul1{
    list-style: none;
    position: absolute;
    margin-left: 16px;
    top: 10%;
    padding: 10px;
}
.ul1 li{
    padding: 8px;
    text-align:left;
    border-bottom: 1px solid;
}
.ul1 li:nth-child(7){
    border-bottom: none;
}
.bottom .ul2 li{
    display: inline-block;
    margin: 5px;
    text-align: center;
}
.ul1 li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 700;
}
.menu{
    height: 30px;
    display: none;
}
.delete{
    height: 25px;
    position: absolute;
    right: 15px;
    top: 3%;
    display: none;
}
.clear{
    clear: both;
}
/*ligne 1*/
.ligne1{
    margin-left: 300px;
    padding-top: 150px;
}
.ligne1 .gauche{
    color: white;
    padding-top: 20px;
    font-size: 2em;
    border-top: 4px solid gray;
    width: 330px;
    float: left;
}
.code{
    color: gray;
}
.ligne1 .droite{
    color: white;
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
}
.ligne1 .droite h4{
    border-top: 2px solid gray;
    padding-top: 15px;
}
.ligne1 .droite button{
    padding: 10px;
    color: white;
    border-color: rgb(17, 128, 231);
    border-radius: 3px;
    font-weight: bold;
    background-color: rgb(17, 128, 231);
    
}
.ligne2{
    color: white;
    margin-left: 300px;
}
.ligne2 .gauche{
    border-top: 4px solid gray;
    width: 330px;
    color: gray;
    margin-bottom: 80px;
    float: left;
}
.ligne2 .gauche a{
    float: right;
    color: rgb(17, 128, 231);
    text-decoration: none;
}
.ligne2 .gauche a::after{
    content: ">";
    border: 1px solid rgb(17, 128, 231);
    margin-left: 12px;
    padding: 3px;
}
.ligne2 .droite{
    height: 450px;
    width: 500px;
    background: url("images/home_big.jpg") no-repeat top center;
    background-size: cover;
    float: left;
    margin-left: 30px;
}

@media only screen and (max-width: 1360px ){
    .ligne1 .droite{
        width: 80%;
        margin-left: 0;
    }
    .ligne2 .gauche{
        width: 80%;
    }
    .ligne2 .droite{
        margin-left: 0;
    }
}
.logoBlanc{
    height: 63px;
    position: absolute;
    top: 6%;
    left: 6%;
    display: none;
}
@media only screen and (max-width: 1150px ){
    .navigation{
        display: none;
    }
    .bottom{
        display: none;
    }
    .menu{
        display: block;
    }
    .ligne1{
        margin-left: 50px;
    }
    .ligne2{
        margin-left: 50px;
    }
    .logoBlanc{
        display: block;
    }
}
@media only screen and (max-width: 791px ){
    .ligne1 .gauche{
        width: 150px;
    }
    .ligne1 .gauche h1{
        font-size: 30px;
        line-height: 0.7;
    }
}