*{
    box-sizing: border-box
}
body{
    margin: 0;
    padding: 0;
}
.page{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-color:black;
    z-index: 1;
}
.menu{
    width: 35px;
    height: 35px;
    position: absolute;
    left: 37px;
    top: 4%;
}
.delete{
    position: absolute;
    left: 70%;
    top:40px;
    height: 30px;
    width: 30px;
    background-color: black;
}
.navigation{
    background-color: white;
    position: fixed;
    min-width: 250px;
    min-height: 100%;
    border-right: 8px solid green;
    z-index: 2;
}
.logo{
    height: 40px;
    width: 40px;
    position: relative;
    left: 50px;
    top: 37px;
    margin-bottom: 50px;
}
.navigation .elem{
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 150px;
    margin: 10px;
    font-size: 11px;
    padding: 10px;
}
.texte{
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 25%;
}
.no{
    list-style: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 150px;
    margin: 10px;
    font-size: 11px;
    padding: 10px;
}
.navigation .imag{
    display: inline-block;
    margin: 5px;
    margin-right: 7%;
}
.copy{
    font-size: 11px;
    text-align: center;
}
.mentions{
    font-size: 11px;
    text-align: center;   
}
.politique{
    font-size: 11px;
    text-align: center; 
}
.cgu{
    font-size: 11px;
    text-align: center; 
}
.perso{
    font-size: 11px;
    text-align: center; 
}
.design{
    font-size: 11px;
    text-align: center; 
}

@media screen and (max-width: 608px){
    .navigation{
        display: none;
    }
}